<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <!-- ios系统：是否运行创建快捷启动方式 -->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!-- ios系统：顶部通知栏颜色 -->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!-- 遇到数字不让转成电话号码的格式 -->
    <meta content="telephone=no" name="format-detection">
    <!-- 遇到email不让转成电话号码的格式 -->
    <meta content="email=no" name="format-detection">
    <title>乐淘</title>
    <meta name="description" content="乐淘是中国最大的正品运动鞋、皮鞋网上专卖。乐淘网经营的品牌包括耐克、阿迪达斯、李宁、匡威等国内外知名品牌的篮球鞋,板鞋,休闲鞋,跑步鞋,帆布...">
    <meta name="Keywords" content="乐淘 乐淘鞋城 买鞋子 上乐淘 运动鞋 篮球鞋 帆布鞋 跑步鞋 男鞋 女鞋 足球鞋 休闲鞋 凉鞋 户外鞋 布洛克 高跟鞋 单鞋 豆豆鞋 乐福鞋 牛津鞋 凉拖 皮鞋 短靴 长靴 登山鞋 徒步鞋 硫化鞋 训练鞋 溯溪鞋 越野鞋 板鞋 足球鞋 网球鞋 赛车鞋 雪地靴 马丁靴 商务 英伦">
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css"/>
    <link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/search.css"/>
</head>
<body>
    <!-- 首页内容 -->
    <div class="lt_container">
        <!-- 顶部通栏 -->
        <header class="lt_header">
            <a class="lt_left" href="javascript: history.back();"><span class="fa fa-arrow-left"></span></a>
            <h3>搜索列表</h3>
        </header>
        <!-- 中间内容 -->
        <section class="lt_content">
            <!-- 滑动区域 -->
            <div class="lt_wrapper">
                <div id="refreshContainer" class="mui-scroll-wrapper">
                    <div class="mui-scroll">
                        <!-- 搜索的输入区域 -->
                        <div class="lt_search">
                            <!-- 在移动端调用虚拟键盘的时候 enter 键会变成搜索按钮 -->
                            <form action="#">
                                <input type="search" placeholder="搜索你喜欢的商品">
                                <a class="search" href="javascript:;">搜索</a>
                            </form>
                        </div>
                        <!-- 排序 -->
                        <div class="lt_order">
                            <a href="JavaScript:;">上架时间<span class="fa fa-angle-down"></span></a>
                            <a href="JavaScript:;" data-type="price">价格<span class="fa fa-angle-down"></span></a>
                            <a href="JavaScript:;" data-type="num">销量<span class="fa fa-angle-down"></span></a>
                            <a href="JavaScript:;">折扣<span class="fa fa-angle-down"></span></a>
                        </div>
                        <!-- 商品区域 -->
                        <section class="lt_product">
                            <div class="pro_item mui-clearfix">
                                <!-- <a href="#" class="pro_item_box">
                                    <img src="images/product.jpg" alt="">
                                    <p class="mui-ellipsis-2"> adidas阿迪达斯 男式 场下休闲篮球鞋S83700 </p>
                                    <p><span class="nowPrice">&yen;560.00</span><span class="oldPrice">&yen;880.00</span></p>
                                    <button>立即购买</button>
                                </a> -->
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <footer class="lt_footer">
            <a class="tab_home fa fa-home" href="index.html"><span>首页</span></a>
            <a class="tab_cate fa fa-bars now" href="category.html"><span>分类</span></a>
            <a class="tab_cart fa fa-shopping-cart" href="cart.html"><span>购物车</span></a>
            <a class="tab_user fa fa-user" href="index.html"><span>会员中心</span></a>
        </footer>
    </div>
    <!-- 图片是数组，默认取第一张图片 -->
    <!-- art-template 中定义变量的关键词为 set -->
    <!-- set temp = $value.pic[0].picAddr -->
    <!-- 确保后台响应了图片，才能取用，否则展示默认图片 -->
    <script id="productList" type="text/html">
        {{if list.length}}
        {{each list}}
            <a href="product.html?productId={{$value.id}}" class="pro_item_box">
                {{if $value.pic && $value.pic[0]}}
                <img src="{{$value.pic[0].picAddr}}" alt="">
                {{else}}
                <img src="images/none.jpg" alt="">
                {{/if}}
                <p class="mui-ellipsis-2">{{$value.proName}}</p>
                <p><span class="nowPrice">&yen;{{$value.price}}</span><span class="oldPrice">&yen;{{$value.oldPrice}}</span></p>
                <button>立即购买</button>
            </a>
        {{/each}}
        {{else}}
            <p>暂无商品信息</p>
        {{/if}}
    </script>
    </script>
    <script src="assets/mui/js/mui.min.js"></script>
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="assets/art-template/template-web.js"></script>
    <script src="js/common.js"></script>
    <script src="js/searchList.js"></script>
</body>
</html>