/* 公共的样式 */
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
body {
    background-color: #fff;
}
.lt_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
}
/* 顶部模块 */
.lt_container .lt_header,
.lt_container .lt_footer {
    width: 100%;
    background-color: #006699;
    position: absolute;
    left: 0;
}
.lt_container .lt_header {
    height: 45px;
    top: 0;
    line-height: 45px;
    color: #fff;
}
.lt_container .lt_header a {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    text-align: center;
}
.lt_container .lt_header .lt_left {
    left: 0;
}
.lt_container .lt_header .lt_right {
    right: 0;
}
.lt_container .lt_header h3 {
    font-size: 16px;
    font-weight: 400;
    padding: 0 45px;
    text-align: center;
    line-height: 45px;
    margin: 0;
}
/* 中部内容模块 */
.lt_container .lt_content {
    padding: 45px 0 55px;
    width: 100%;
    height: 100%;
}
.lt_container .lt_content .lt_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
/* 底部模块 */
.lt_container .lt_footer {
    height: 55px;
    bottom: 0;
}
.lt_container .lt_footer a {
    width: 25%;
    height: 100%;
    float: left;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}
.lt_container .lt_footer a.now {
    color: orange;
}
.lt_container .lt_footer a span {
    display: block;
    font-size: 12px;
    padding-top: 6px;
}